<div class="botao-retrair_menu">
  <div class="botao-retrair_menu-imagem">
    <img
      class="imagem-botao-retrair_menu"
      src="assets/imagens/imagem-menu-retratil.png"
      alt="Imagem de uma pessoa usando o computador"
    />
  </div>
  <div class="botao-retrair_menu-icone">
    <button class="botao-retrair_menu">
      <img
        (click)="mudarIconeSeta()"
        class="imagem-retrair_menu"
        src="assets/icones/chevrons-{{ iconeSeta }}-light.svg"
        alt="Imagem da seta para retrair e expandir o menu"
      />
    </button>
  </div>
</div>
