<section>
  <div class="container-menu">
    <nav>
      <ul class="lista_menu">
        <li
          class="item_menu"
          *ngFor="let item of appMenu.itens"
          (click)="mudarIconeSeta($event)"
          id="{{ item.id }}"
        >
          <a routerLink="{{ item.source }}">
            <div class="lista_menu-item">
              <img class="icone_contexto" [src]="item.svgIcon" alt="" />
              <p class="titulo">{{ item.title }}</p>
              <div class="container-icone-seta" *ngIf="item.open">
                <img
                  class="icone-seta"
                  src="assets/icones/{{ iconeSeta }}.svg"
                  alt=""
                />
              </div>
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
