.container-menu {
  /* border: 2px solid red; */
  box-sizing: border-box;
  width: 300px;
}

.lista_menu {
  list-style: none;
  padding: 5px 0;
}

.lista_menu-item {
  margin: 10px 0;
  line-height: 32px;
  cursor: pointer;
}

.icone_contexto {
  width: 22px;
  height: 22px;
  margin: auto 25px;
}

.titulo {
  display: inline-block;
  width: 150px;
  margin: 5px 0;
}

.container-icone-seta {
  display: inline-block;
  width: 74px;
}

.icone-seta {
  width: 20px;
  height: 20px;
  margin-left: 30px;
}
