<section>
  <div class="container-menu">
    <nav>
      <ul class="lista_menu">
        <li *ngFor="let item of appMenu.itens">
          <div class="lista_menu-item">
            <img class="icone_contexto" [src]="item.svgIcon" alt="" />
            <p class="titulo">{{ item.title }}</p>
            <div
              class="container-icone-seta"
              *ngIf="item.open"
              (click)="mudarIconeSeta()"
            >
              <img
                class="icone-seta"
                src="assets/icones/{{ iconeSeta }}.svg"
                alt=""
              />
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</section>
