.novo_aluno-header {
  display: flex;
  justify-content: space-between;
}

.header-buttons {
  display: flex;
  margin-right: 30px;
}

.container-novo_aluno > h2 {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding-bottom: 30px;
}

app-botao-voltar {
  margin: 15px 10px 0 0;
  border-radius: 5px;
}

app-botao-salvar {
  margin: 15px 10px 0 0;
  background: #28a745;
  border-radius: 5px;
}

.numeroMatricula,
.dataMatricula {
  height: 35px;
  padding: 0 9px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(55, 55, 55);
  border-radius: 5px;
  background: rgb(230, 230, 230);
  font-weight: bold;
}

input[type="file"] {
  display: none;
}

#item-label_foto {
  display: flex;
  align-items: flex-end;
}

.labelFoto {
  padding: 20px;
  width: 289.5px;
  height: 55px;
  background: #8a8a8a;
  color: #e7e7e7;
  text-transform: uppercase;
  cursor: pointer;
  transition: .5s;
  border: 1px solid #4d4b4b;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.labelFoto:hover  {
  color: #fff;
  background: #707070;
}

.mensagem__erro {
  font-size: 12px;
  margin-left: 5px;
  color: red;
  margin-top: 0px;
  margin-bottom: -18px;
}
