<section class="container-novo_aluno">
  <div class="novo_aluno-header">
    <div class="header-title">
      <h2>INFORMAÇÕES DO NOVO ALUNO</h2>
    </div>
    <div class="header-buttons">
      <app-botao-voltar></app-botao-voltar>
      <app-botao-salvar></app-botao-salvar>
    </div>
  </div>
  <form action="" [formGroup]="formulario">
    <div class="container-formulario">
      <div class="form-row">
        <div class="col-2 form-item">
          <label class="label_form" for="matricula">Número Matrícula: </label>
          <p class="numeroMatricula">{{ numMatricula }}</p>
        </div>
        <div class="col-6 form-item">
          <label class="label_form" for="aluno"> Aluno:</label>
          <input
            type="text"
            class="input_form"
            placeholder="Nome completo do aluno"
            name="aluno"
            formControlName="nomeAluno"
          />
          <div
            class="mensagem__erro"
            *ngIf="
              formulario.get('nomeAluno')?.errors &&
              formulario.get('nomeAluno')?.touched
            "
          >
            Nome do aluno é obrigatório
          </div>
        </div>
        <div class="col-3 form-item">
          <label class="label_form" for="serie"> Série:</label>
          <select name="serie" class="select_form">
            <option selected value="">Selecione uma série</option>
            <option value="sext_fun">6º - Fundamental II</option>
            <option value="seti_fun">7º - Fundamental II</option>
            <option value="oita_fun">8º - Fundamental II</option>
            <option value="nono_fun">9º - Fundamental II</option>
            <option value="prim_med">1º - Médio</option>
            <option value="segu_med">2º - Médio</option>
            <option value="terc_med">3º - Médio</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="col-3 form-item">
          <label class="label_form" for="dataNascimento"
            >Data de Nascimento</label
          >
          <input
            type="date"
            class="input_form"
            formControlName="dataNascimento"
          />
          <div
            class="mensagem__erro"
            *ngIf="
              formulario.get('dataNascimento')?.errors &&
              formulario.get('dataNascimento')?.touched
            "
          >
            Data de nascimento é obrigatório.
          </div>
        </div>
        <div class="col-4 form-item">
          <label class="label_form" for="rg">Número RG:</label>
          <input type="text" class="input_form" placeholder="Número do RG" />
        </div>
        <div class="col-4 form-item">
          <label class="label_form" for="rg">Número CPF:</label>
          <input type="text" class="input_form" placeholder="Número do CPF" />
        </div>
      </div>

      <div class="form-row">
        <div class="col-5 form-item">
          <label class="label_form" for="nomeMae">Mãe:</label>
          <input
            type="text"
            class="input_form"
            placeholder="Nome da mãe"
            formControlName="nomeMae"
          />
          <div
            class="mensagem__erro"
            id="datNascimento"
            *ngIf="
              formulario.get('nomeMae')?.errors &&
              formulario.get('nomeMae')?.touched
            "
          >
            Nome da mãe do aluno é obrigatório.
          </div>
        </div>
        <div class="col-3 form-item">
          <label class="label_form" for="telefoneMae">Telefone mãe:</label>
          <input
            type="text"
            class="input_form"
            placeholder="(xx)xxxx-xxxx"
            formControlName="telefoneMae"
          />
        </div>
        <div class="col-3 form-item">
          <label class="label_form" for="celularMae">Celular mãe:</label>
          <input
            type="text"
            class="input_form"
            placeholder="(xx)9xxxx-xxxx"
            formControlName="celularMae"
          />
          <div
            class="mensagem__erro"
            *ngIf="
              formulario.get('celularMae')?.errors &&
              formulario.get('celularMae')?.touched
            "
          >
            Número de celular da mãe é obrigatório.
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-5 form-item">
          <label class="label_form" for="nomePai">Pai:</label>
          <input
            type="text"
            class="input_form"
            placeholder="Nome do pai"
            formControlName="nomePai"
          />
        </div>
        <div class="col-3 form-item">
          <label class="label_form" for="telefonePai">Telefone pai:</label>
          <input
            type="text"
            class="input_form"
            placeholder="(xx)xxxx-xxxx"
            formControlName="telefonePai"
          />
        </div>
        <div class="col-3 form-item">
          <label class="label_form" for="celularPai">Celular pai:</label>
          <input
            type="text"
            class="input_form"
            placeholder="(xx)9xxxx-xxxx"
            formControlName="celularPai"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="col-4 form-item" id="item-label_foto">
          <label class="label_form labelFoto" for="foto">Enviar foto</label>
          <input class="input_form" type="file" id="foto" accept="image/*" />
        </div>
        <div class="col-4 form-item">
          <label for="nee">Necessidades Educacionais Especiais?</label>
          <select class="select_form" name="" id="">
            <option value="nao">Não</option>
            <option value="sim">Sim</option>
          </select>
        </div>
        <div class="col-3 form-item">
          <label class="label_form" for="dataMatricula"
            >Data de matrícula:</label
          >
          <p class="dataMatricula">{{ dataFormatada }}</p>
        </div>
      </div>
    </div>

    <div class="container-formulario" formGroupName="endereco">
      <div class="form-row">
        <div class="col-3 form-item">
          <label class="label_form" for="cep">CEP:</label>
          <input
            class="input_form"
            type="text"
            placeholder="CEP"
            formControlName="cep"
          />
          <div
            class="mensagem__erro"
            *ngIf="
              formulario.get('cep')?.errors && formulario.get('cep')?.touched
            "
          >
            CEP é um campo obrigatório.
          </div>
        </div>
        <div class="col-5 form-item">
          <label class="label_form" for="logradouro">Lograudoro:</label>
          <input
            class="input_form"
            type="text"
            placeholder="Logradouro"
            formControlName="logradouro"
          />
          <div
            class="mensagem__erro"
            *ngIf="
              formulario.get('logradouro')?.errors &&
              formulario.get('logradouro')?.touched
            "
          >
            Logradouro é um campo obrigatório.
          </div>
        </div>
        <div class="col-3 form-item">
          <label class="label_form" for="numeroCasa">Nº:</label>
          <input
            class="input_form"
            type="text"
            placeholder="Número da casa"
            formControlName="numeroCasa"
          />
          <div
            class="mensagem__erro"
            *ngIf="
              formulario.get('numeroCasa')?.errors &&
              formulario.get('numeroCasa')?.touched
            "
          >
            Número da casa é obrigatório.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-4 form-item">
          <label class="label_form" for="complemento">Complemento:</label>
          <input
            class="input_form"
            type="text"
            placeholder="Complemento"
            formControlName="complemento"
          />
        </div>
        <div class="col-4 form-item">
          <label class="label_form" for="bairro">Bairro:</label>
          <input
            class="input_form"
            type="text"
            placeholder="Bairro"
            formControlName="bairro"
          />
          <div
            class="mensagem__erro"
            *ngIf="
              formulario.get('bairro')?.errors &&
              formulario.get('bairro')?.touched
            "
          >
            Bairro é obrigatório.
          </div>
        </div>
        <div class="col-3 form-item">
          <label class="label_form" for="cidade">Cidade:</label>
          <input
            class="input_form"
            type="text"
            placeholder="Cidade"
            formControlName="cidade"
          />
          <div
            class="mensagem__erro"
            *ngIf="
              formulario.get('cidade')?.errors &&
              formulario.get('cidade')?.touched
            "
          >
            Cidade é obrigatório.
          </div>
        </div>
      </div>
    </div>

    <div class="container-formulario">
      <div class="form-row">
        <div class="col-5 form-item">
          <label class="label_form" for="responsavelFinanceiro"
            >Resp. Financeiro:</label
          >
          <input
            type="text"
            class="input_form"
            placeholder="Responsável Financeiro"
            formControlName="responsavelFinanceiro"
          />
          <div
            class="mensagem__erro"
            *ngIf="
              formulario.get('responsavelFinanceiro')?.errors &&
              formulario.get('responsavelFinanceiro')?.touched
            "
          >
            Um Responsável Financeiro é obrigatório.
          </div>
        </div>
        <div class="col-3 form-item">
          <label class="label_form" for="cpfResponsavelFinanceiro"
            >CPF Resp. Financeiro:</label
          >
          <input
            type="text"
            class="input_form"
            placeholder="CPF Responsável Financeiro"
            formControlName="cpfRespFinanceiro"
          />
          <div
            class="mensagem__erro"
            *ngIf="
              formulario.get('cpfRespFinanceiro')?.errors &&
              formulario.get('cpfRespFinanceiro')?.touched
            "
          >
            O CPF do resp. financeiro é obrigatório.
          </div>
        </div>
        <div class="col-3 form-item">
          <label class="label_form" for="CelularRespFinanceiro"
            >Celular Resp. Financeiro:</label
          >
          <input
            type="text"
            class="input_form"
            placeholder="(xx)9xxxx-xxxx"
            formControlName="celularRespFinanceiro"
          />
          <div
            class="mensagem__erro"
            *ngIf="
              formulario.get('celularRespFinanceiro')?.errors &&
              formulario.get('celularRespFinanceiro')?.touched
            "
          >
            O celular do resp. financeiro é obrigatório.
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
